body {
    font-family: 'Lato', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;
    background-image: url("/assets/media/whiskey-background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    display: flex;
    align-items: center;
    justify-content: center;

}

.quotes-container {}

.features-container {}